form#budget-form {
	display: flex;
	flex-direction: column;
	align-items: center;

	& .form-title {color:var(--brand-key);}

	& label {
		display:block;
		margin-bottom: 3px;
	}

	& input, select, textarea, button {
		padding:1% 10px;
		border-radius:3px;
		border:1px solid var(--bgf2);
		height:10%;
		max-height: 40px;
		min-height:30px;
		margin-bottom:4%;
		width:360px;
	}

	& .form-actions {
		display:flex;
		flex-direction:column;
	}
}