#headbar {
    display: grid;
    grid-template: 100% / 1fr 1fr 1fr;
    width:100%;
    height:40px;
    padding: 0 10px;
    /* border: 1px solid cyan; */

    & > div {display:flex; align-items:center; gap:1em;}
    & .left {justify-content:flex-start;font-size: 1.75em;font-weight: bold; & a {color:#0b5;}}
    & .center {justify-content:center;}
    & .right {justify-content:flex-end;}

    & form.searchbar {
        width:100%;
        height:100%;
        border:none;
        padding:3px;
        display:grid;
        grid-template: 100% / 40px auto;
        border-radius:6px;
        background-color: var(--bg);
        /* border: 1px solid grey; */

        & div {
            display:flex;
            justify-content:center;
            align-items:center;
            font-size: 1.5em;
        }

        & input {
            border:none;
            background-color: var(--bg);
        }
        & button {
            background-color: white;
            border:none;
            color:grey;
        }
    }
}

#create-menu {
    & ul {transform:translateX(-80%);}
    &::before {
        content:"";
        /* border: 1px solid red; */
        position:absolute;
        width: 50px;
        height: 40px;
        transform: translate(-10px, 0);
    }
}

#profile-menu {
    display:flex;
    align-items: center;
    gap:10px;

    & img {
        width:25px;
        aspect-ratio: 1/1;
        border-radius: 50%;
    }
    &:hover > ul {display:block;}
    & ul {
        transform: translate(0, 100%);
        right:10px;        
    }
    &::before {
        content:"";
        /* border: 1px solid red; */
        position:absolute;
        width:150px;
        height: 60px;
        transform: translate(-10px, 0);
    }
}

#nouser-auth {
    display: flex;
    gap:1em;
}