#headbar {
    display: grid;
    grid-template: 100% / 1fr 1fr 1fr;
    width:100%;
    height:60px;
    padding: 10px 1em 10px 1em;
    /* border: 1px solid cyan; */

    & > div {display:flex; align-items:center; gap:1em;}
    & .left {justify-content:flex-start;}
    & .center {justify-content:center;}
    & .right {justify-content:flex-end;}

    & #logotype {
        font-size: 1.75em;
        font-weight: bold; 
        color:var(--brand-key);
        text-decoration: none;
    }

    & form.searchbar {
        width:100%;
        height:100%;
        border:none;
        padding:3px;
        display:grid;
        grid-template: 100% / 40px auto;
        border-radius:6px;
        background-color: var(--bgb2);
        border: 1px solid #9993;

        & div {
            display:flex;
            justify-content:center;
            align-items:center;
            font-size: 1.5em;
        }

        & input {
            border:none;
            background-color: var(--bgb2);
        }
        & button {
            background-color: white;
            border:none;
            color:grey;
        }
    }
}

#create-menu {
    position: relative;

    & ul {
        right: 0;
        top: 100%;
        transform:translate(0, -10px);
        background-color: var(--bgf2);

        & h6 {margin:10px;}
        & li {
            width:130px;
            padding:0;

            &:hover {background-color: var(--bgf3);}
        }

        & a {
            display: block;
            width: 100%;
            padding: 10px;
            text-align: right;
            color: inherit;
            text-decoration: none;
        }
    }
    &::before {
        content:"";
        position:absolute;
        width: 50px;
        height: 50px;
        transform: translate(-10px, 0);
        cursor: pointer;
    }
}

#profile-menu {
    position: relative;
    display:flex;
    align-items: center;
    gap:10px;

    & > a {
        color: var(--secondary);
        text-decoration: none;
    }

    & img {
        width:25px;
        aspect-ratio: 1/1;
        border-radius: 50%;
    }

    &:hover > ul {display:block;}

    & ul {
        transform: translate(10px, 60px);
        background-color: var(--bgf2);

        & li {
            width:130px;
            padding:10px;
            text-align: right;

            &:hover {background-color: var(--bgf3);}
        }

        & a {
            color: inherit;
            text-decoration: none;
        }
    }
    &::after {
        content:"";
        position:absolute;
        width:150px;
        height: 60px;
        transform: translate(-10px, 0);
        cursor:pointer;
        pointer-events: none;
    }
}

#nouser-auth {
    display: flex;
    gap:1em;
}
