.page-instruction {margin: 0;}
.page-info {margin:0;padding:0;color:grey;}

main.dashboard {
	background-color: var(--bg);
    grid-area:main;
	height:calc(100vh - 50px);
	overflow:hidden;

    display:grid;
    grid-template: 
		"top" 1fr
		"middle" 2fr
		"bottom" 2fr / 100%;
	& * {border: 1px solid grey;}

    & section#top {grid-area:top; border: 1px solid red;}
    & section#middle {grid-area:middle; border: 1px solid green;}
    & section#bottom {grid-area:bottom; border: 1px solid blue;}

	& h5 {margin:0; font-size:1.3em;}
	& h6 {margin:0; font-size:1em;}

	& > section {
		padding:1rem;
		display:flex;
		gap:1rem;
	}

	& .card {
		border-radius: 8px;
		box-shadow: 0 0 25px #0001;
		background-color: var(--bgf1);
		overflow: hidden;
	
		& p {margin:0;}
		& p.name {font-size: 1em; font-weight: 700;}
	}
	
	& header {
		grid-area:header;
		display:grid;
		padding:1em 0;
		grid-template: auto / 75% 25%;
		& .btn-block {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: end;
			margin-right: 5vw;
		}
	}
}

main.dashboard > section div.card {
	height:100%;
	width:100%;
}

main.dashboard > section#middle {
	display:grid;
	grid-template: 100% / 1fr 2fr;

	
}

figcaption {
    display:flex;
	gap:.5em;
	justify-content: center;

	& div {width:max-content;display:inline-block;}
	& div > div::before {
		content:"";
		display:inline-block;
		width:1em;
		height:100%;
		background-color: var(--col);
	}
}

figure {
	& .pie-wrapper {
		display: block;
		height: 300px;
		width:100%;
		aspect-ratio: 1/1;
		border-radius: 50%;
	}
	& .pie-slices {
		height:100%;
	}
}