.flyout-menu {
  & ul {
    display:none;
    background-color: var(--bg);
  }
  &:hover > ul, &:active > ul {display:block;}
  & li:hover {cursor:pointer;}
}

.img-icn {
  display: flex;
  justify-self: center;
  align-items: center;
}