* {
  font-family: Arial, Helvetica, sans-serif;
  color-scheme: light dark;
  box-sizing: border-box;

  --bg: #fff;
  --bgf1: #ddd;
  --bgf2: #bbb;
  --bgb1: #dff0f0;
  --bgb2: #dfeaea;
}

@media screen and (prefers-color-scheme: dark) {
  * {
    background-color: #222;
    color: white;

    --bg: #222;
    --bgf1: #333;
    --bgf2: #444;
    --bgb1: #1a1a1a;
    --bgb2: #0f0f0f;
  }
}