* {
  font-family: Arial, Helvetica, sans-serif;
  color-scheme: light dark;
  box-sizing: border-box;
}

@media screen and (prefers-color-scheme: dark) {
  * {
    background-color: #222;
    color: white;
  }
}